# Logs
logs
*.log
npm-debug.log*

# Runtime data
.env
data/*.json

# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
